 <div class="logo">
  <img src="https://img.freepik.com/free-vector/vector-tiger-head-silhouette-illustration-isolated-white-background_8130-782.jpg?w=1480&t=st=1668404060~exp=1668404660~hmac=578e9a09ff7b4b4c178ce9815565f14d512fe75fe8f758a03d3303c239fbef7e">
</div>
<div class="pt-5">
  <ul>
    <li>
        <a href="#" class="ac">
            <span class="icon"><i class="fas fa-person-chalkboard"></i></span>
            <span class="item">Tutors</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon"><i class="fas fa-language"></i></span>
            <span class="item">Explore Languages</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon"><i class="fas fa-folder-open"></i></span>
            <span class="item">My lessons</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon"><i class="fas fa-chart-line"></i></span>
            <span class="item">Statistics</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon"><i class="fas fa-cart-shopping"></i></span>
            <span class="item">Shopping Cart</span>
        </a>
    </li>
  </ul>
</div>
